$calendar_color_1: #212529;
$calendar_color_2: #DDE3FD;

$color_1: lightgray;
$color_2: rgba(0, 0, 0, 0.6);
$color_3: black;

%box {
    background-color: $color_1;
    border: $color_3 solid 2px;
    box-shadow: $color_2 5px 5px 8px 2px;
    border-radius:10px;
}

body {
    margin-left: 5px;
}

.errorlist li {
    color: red;
}

.empty-container {
    @media (min-width: 720px) {
        width: 700px;
    }
}

.calendar-container {
    @media (min-width: 1200px) {
        width: 70%;
    }
    @media (max-width: 1199px) {
        width: 98%;
        margin:auto;
    }
}

.calendar {
    table-layout: fixed;
    text-align: center;
    height: auto;
}

.calendar th {
    text-decoration: None;
    color: $calendar_color_2;
    background-color: $calendar_color_1;
}

.calendar td {
    border-bottom-width: 0;
    height: 80px;
    overflow: hidden;
}

.calendar a {
    text-decoration: none;
    color: $calendar_color_1;
    @media (min-width: 800px) {
        font-size: 20px;
    }
    @media (max-width: 799px) {
        font-size: 16px;
    }
}

.calendar tbody td:hover {
    border: solid 2px black;
    background-color: #82898b;
}

.calendar tbody td a:hover {
    color: $calendar_color_2;
}

.calendar tbody td {
    transition: background-color 1s ease-out;
}

.calendar .training_day {
    background-color: lightgray;
    border: solid 2px $calendar_color_1;
}

.calendar .plan_start {
    border-left: solid 5px green;
}

.calendar .plan_end {
    border-right: solid 5px red;
}

.calendar .today {
    border: solid 2px #7194dc;
}

.calendar .training_info {
    font-style: italic;
    @media (min-width: 800px) {
        font-size: 16px;
    }
    @media (max-width: 799px) {
        font-size: 12px;
    }
}

.button-container {
    margin: 10px;
}

.buttons-center {
    @extend .button-container;
    text-align: center;
}

.calendar-buttons a {
    @media (min-width: 800px) {
        width: 100px;
        font-size: 16px;

    }
    @media (max-width: 799px) {
        width: 80px;
        font-size: 12px;
    }
}

.active-plan {
    color: red;
    font-style: italic;
}

#training-container {
    display: flex;
    flex-wrap: wrap;
}

#training-container .training {
    @extend %box;
    font-style: italic;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
    padding: 10px;
    height: 160px;
}

#training-container span {
    display: block;
}

#training-container span.completed {
    margin-top: 15px;
}

#training-container form {
    margin-top: 2px;
    margin-bottom: 5px;
}

#training-container form a {
    font-style: normal;
}

$landing_btn_color_1: #cccccc;
$landing_btn_color_2: #302f30;

.landing-button {
    box-shadow: black 2px 2px 4px 1px;
    background: linear-gradient(to bottom, $landing_btn_color_2 1%, $landing_btn_color_1 100%);
    border-radius:10px;
	border:2px solid black;
	display:inline-block;
	color:#f2f2f2;
	font-size:20px;
	font-weight:bold;
	padding:20px 50px;
	text-decoration:none;
	text-shadow:1px 1px 0 black;
    margin: 5px;
}

.landing-button:hover {
    background: linear-gradient(to bottom, $landing_btn_color_1 1%, $landing_btn_color_2 100%);
    color: #c4c4c4;
}
.landing-button:active {
	position:relative;
	top:1px;
}

.landing-welcome {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 3rem;
    margin: 50px;
}

#login-box {
    @extend %box;
    margin: 100px auto auto;
    padding: 20px;
    @media (min-width: 600px) {
        width: 550px;
    }
    @media (max-width: 599px) {
        width: 90%;
    }
}

#login-form div {
  margin: 20px auto auto;
}