$calendar_color_1: #212529;
$calendar_color_2: #DDE3FD;

.calendar-container {
    @media (min-width: 1200px) {
        width: 70%;
    }
    @media (max-width: 1199px) {
        width: 95%;
    }
}

.calendar {
    table-layout: fixed;
    text-align: center;
    height: auto;
}

.calendar th {
    text-decoration: None;
    color: $calendar_color_2;
    background-color: $calendar_color_1;
}

.calendar td {
    border-bottom-width: 0;
    height: 80px;
    overflow: hidden;
}

.calendar a {
    text-decoration: none;
    color: $calendar_color_1;
    @media (min-width: 800px) {
        font-size: 20px;
    }
    @media (max-width: 799px) {
        font-size: 16px;
    }
}

.calendar tbody td:hover {
    border: solid 2px black;
    background-color: #82898b;
}

.calendar tbody td a:hover {
    color: $calendar_color_2;
}

.calendar tbody td {
    transition: background-color 1s ease-out;
}

.calendar .training_day {
    background-color: lightgray;
    border: solid 2px $calendar_color_1;
}

.calendar .plan_start {
    border-left: solid 5px green;
}

.calendar .plan_end {
    border-right: solid 5px red;
}

.calendar .today {
    border: solid 2px #7194dc;
}

.calendar .training_info {
    font-size: 16px;
}

.calendar .training_day {
    background-color: lightgray;
    border: solid 2px $calendar_color_1;
}

.calendar .plan_start {
    border-left: solid 5px green;
}

.calendar .plan_end {
    border-right: solid 5px red;
}

.calendar .today {
    border: solid 2px #7194dc;
}

.calendar .training_info {
    font-style: italic;
    @media (min-width: 800px) {
        font-size: 16px;
    }
    @media (max-width: 799px) {
        font-size: 12px;
    }
}

.button-container {
    text-align: center;
    margin: 10px;
}

.calendar-buttons a {
    @media (min-width: 800px) {
        width: 100px;
        font-size: 16px;

    }
    @media (max-width: 799px) {
        width: 80px;
        font-size: 12px;
    }
}

