{% extends 'runapp/base.html' %}

{% block content %}
    {% block navbar %}
        <nav>
            <div>
                <ul>
                    <li>
                        <a href="{% url 'runapp:homepage' %}">Homepage</a>
                    </li>
                    <li>
                        <a href="{% url 'runapp:calendar' today.month today.year %}">Calendar</a>
                    </li>
                    <li>
                        <a href="{% url 'runapp:training_plan_list' %}">My plans</a>
                    </li>
                    <li>
                        <a href="{% url 'runapp:training_diary' %}">Training diary</a>
                    </li>
                </ul>
            </div>
            <div>
                {% if user.is_authenticated %}
                    {{ user.email }} <a href="{% url 'runapp:logout' %}">Sign out</a>
                {% endif %}
            </div>
        </nav>
    {% endblock navbar %}

    {% block runapp_content %}
    {% endblock runapp_content %}
{% endblock content %}