{% extends "runapp/base.html" %}

{% block content %}
    <div id="user-box">
        <form id="user-form" class="row g-3" method="post" action="{% url 'runapp:login' %}">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="col-10">
                <label class="form-label" for="id_username">Email address:</label>
                <input class="form-control" type="text" name="username" autofocus autocapitalize="none"
                       autocomplete="username" maxlength="255" required id="id_username">
            </div>
            <div class="col-10">
                <label class="form-label" for="id_password">Password:</label>
                <input class="form-control" type="password" name="password" autocomplete="current-password" required id="id_password">
            </div>
            <div class="col-10">
                <input class="btn btn-dark" type="submit" value="Sign in">
                <a class="btn btn-dark" href="{% url 'runapp:landing_page' %}">Cancel</a>
            </div>
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
{% endblock %}