{% extends 'runapp/base_runapp.html' %}

{% block runapp_content %}
    {% if form.current_plan|length == 0 %}
        <div>
            No training plans found.
            <a class="btn btn-dark" href="{% url 'runapp:training_plan_create' %}">Create a new plan.</a>
        </div>
    {% else %}
        <div>
            <form method="post" class="row g-3">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="col-8 col-md-5 col-xl-3">
                    {{ form.current_plan.errors }}
                    <label for="{{ form.current_plan.id_for_label }}" class="form-label">{{ form.current_plan.label }}</label>
                    {{ form.current_plan }}
                </div>
                <div class="col-12">
                    <input class="btn btn-dark" type="submit" value="Select">
                    <a class="btn btn-dark" href="{% url 'runapp:calendar' today.month today.year %}">Cancel</a>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}
