{% extends 'runapp/base_runapp.html' %}

{% block runapp_content %}
    <div class="button-container col-12">
        {% if training_plans %}
            <a class="btn btn-dark" href="{% url 'runapp:training_plan_create' %}">Create new plan</a>
        {% endif %}
    </div>
    <div>
        {% for plan in training_plans %}
            <div class="list-group col-12 col-md-8 col-xl-5">
                <a href="{% url 'runapp:training_plan_details' plan.id %}" class="list-group-item list-group-item-action">
                    {{ plan.name }} <br> {{ plan.start_date|date:"d M Y" }} - {{ plan.end_date|date:"d M Y" }}
                    {% if plan.current_plan %}
                        <br><span class="active-plan">Your current training plan</span>
                    {% endif %}
                </a>
            </div>
        {% empty %}
            <p>
                <a href="{% url 'runapp:training_plan_create' %}">You have no training plans, create a new one</a>
            </p>
        {% endfor %}
    </div>
{% endblock %}