{% extends 'runapp/base_runapp.html' %}

{% block runapp_content %}
    <div>
        <h4>Plan's name: {{ training_plan.name }}</h4>
        {% if training_plan.description %}
            <p>
                Description: {{ training_plan.description }}
            </p>
        {% endif %}
        <p>
            Plan start date: {{ training_plan.start_date|date:'d M Y' }}
        </p>
        <p>
            Plan end date: {{ training_plan.end_date|date:'d M Y' }}
        </p>
    </div>
    <div>
        <a href="{% url 'runapp:training_create' training_plan.pk %}">Add new training</a>
        <a href="{% url 'runapp:training_plan_edit' training_plan.pk %}">Edit plan</a>
        <a href="{% url 'runapp:training_plan_list' %}">Return to your plans</a>
    </div>
    <div>
        <p>Trainings:</p>
        {% for training in training_plan.training_set.all %}
            <div>
                {{ training }}
                <form style="display: inline">
                    {% csrf_token %}
                    <a href="{% url 'runapp:training_edit' training.pk %}">Edit</a>
                    <button formmethod="post" formaction="{% url 'runapp:training_delete' training.pk %}">Delete</button>
                </form>
                {% if not training.completed and training.date <= today %}
                    <form class="inline">
                        <button formmethod="get" formaction="{% url 'runapp:diary_entry_create' training.pk %}">Add to diary</button>
                    </form>
                {% endif %}
            </div>
        {% empty %}
            <p>No trainings planed</p>
        {% endfor %}
    </div>
{% endblock %}